// -- variables --
$boxLeft: 20px;
$boxGap: 140px;
$boxEndTop: 500px;
$boxEndBackground: #e89041;

// -- mixins for CSS animation/transition --
@mixin animation($value) {
	-webkit-animation: $value;
	animation: $value;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

@mixin transition($value...) {
	-webkit-transition: $value;
	transition: $value;
}

// -- base --
input {
	font-size: 100%;
	margin: 0;
}

body,
input {
	color: #000;
	font-family: sans-serif;
}

body {
	background: #fff;
	font-size: 62.5%;
	line-height: 1;
	margin-left: $boxLeft;
	margin-right: $boxLeft;
}

h1 {
	font-size: 3em;
	margin: 0 0 20px;
	white-space: nowrap;
}

p {
	margin: 0 0 15px;
}

ul {
	margin: 0 0 15px 15px;
	padding: 0;
}

p,
ul > li {
	font-size: 1.3em;
	line-height: 1.4;

	> code {
		font-family: monospace;
		font-size: 100%;
	}
}

a {
	color: #555;
}

// -- boxes --
.boxanimation,
.boxtransition1,
.boxtransition2 {
	border: 1px solid #000;
	height: 100px;
	left: $boxLeft;
	position: absolute;
	top: 260px;
	width: 100px;

	// add a red box to each box as it's animating
	&.cssanimactive {
		border: 2px solid #f00;
	}
}

// -- boxes - animation --
.boxanimation {
	background: #b2382d;

	&.move {
		@include animation(boxanimation 1s ease-in-out 0s 3 alternate forwards);
	}

	// for browsers that don't support animation, place box at intended end position
	&.complete {
		background: $boxEndBackground;
		top: $boxEndTop;
	}

	@at-root {
		@include keyframes(boxanimation) {
			20% {
				left: 40px;
				top: 310px;
			}

			40% {
				left: 140px;
				top: 400px;
			}

			60% {
				background: #ffc787;
			}

			100% {
				background: $boxEndBackground;
				top: $boxEndTop;
			}
		}
	}
}

// -- boxes - transition --
.boxtransition1,
.boxtransition2 {
	background: #f2df7e;
	left: ($boxLeft + $boxGap);
	@include transition(background 0.5s linear,top 0.5s ease-in);

	&.move {
		background: #314a59;
		top: $boxEndTop;
	}
}

.boxtransition2 {
	left: ($boxLeft + ($boxGap * 2));
}
