#consolefaux {
	background: #aaa;
	color: #000;
	display: none;
	float: right;
	font-weight: normal;
	font: 12px/1.1 "Courier New",Courier,monospace;
	max-height: 400px;
	overflow-y: auto;
	padding: 5px;
	width: 340px;
}

html.consolefaux #consolefaux {
	display: block;
}

html.consolefaux #page {
	margin-right: 355px;
}
