/* line 29, example.scss */
input {
  font-size: 100%;
  margin: 0;
}

/* line 35, example.scss */
body,
input {
  color: #000;
  font-family: sans-serif;
}

/* line 40, example.scss */
body {
  background: #fff;
  font-size: 62.5%;
  line-height: 1;
  margin-left: 20px;
  margin-right: 20px;
}

/* line 48, example.scss */
h1 {
  font-size: 3em;
  margin: 0 0 20px;
  white-space: nowrap;
}

/* line 54, example.scss */
p {
  font-size: 1.3em;
  line-height: 1.4;
  margin: 0 0 15px;
  max-width: 700px;
}

/* line 61, example.scss */
p > strong {
  white-space: nowrap;
}

/* line 65, example.scss */
a {
  color: #555;
}

/* line 72, example.scss */
.boxanimation,
.boxtransition1,
.boxtransition2 {
  border: 1px solid #000;
  height: 100px;
  left: 20px;
  position: absolute;
  top: 260px;
  width: 100px;
}
/* line 81, example.scss */
.boxanimation.cssanimactive,
.boxtransition1.cssanimactive,
.boxtransition2.cssanimactive {
  border: 1px solid #f00;
}

/* line 87, example.scss */
.boxanimation {
  background: #b2382d;
}
/* line 90, example.scss */
.boxanimation.move {
  -moz-animation: boxanimation 1s ease-in-out 0s 3 alternate forwards;
  -o-animation: boxanimation 1s ease-in-out 0s 3 alternate forwards;
  -webkit-animation: boxanimation 1s ease-in-out 0s 3 alternate forwards;
  animation: boxanimation 1s ease-in-out 0s 3 alternate forwards;
}
/* line 95, example.scss */
.boxanimation.complete {
  left: 20px;
  top: 500px;
}

@-moz-keyframes boxanimation {
  /* line 102, example.scss */
  20% {
    left: 40px;
    top: 310px;
  }

  /* line 107, example.scss */
  40% {
    left: 140px;
    top: 400px;
  }

  /* line 112, example.scss */
  60% {
    background: #ffc787;
  }

  /* line 116, example.scss */
  100% {
    background: #e89041;
    top: 500px;
  }
}

@-o-keyframes boxanimation {
  /* line 102, example.scss */
  20% {
    left: 40px;
    top: 310px;
  }

  /* line 107, example.scss */
  40% {
    left: 140px;
    top: 400px;
  }

  /* line 112, example.scss */
  60% {
    background: #ffc787;
  }

  /* line 116, example.scss */
  100% {
    background: #e89041;
    top: 500px;
  }
}

@-webkit-keyframes boxanimation {
  /* line 102, example.scss */
  20% {
    left: 40px;
    top: 310px;
  }

  /* line 107, example.scss */
  40% {
    left: 140px;
    top: 400px;
  }

  /* line 112, example.scss */
  60% {
    background: #ffc787;
  }

  /* line 116, example.scss */
  100% {
    background: #e89041;
    top: 500px;
  }
}

@keyframes boxanimation {
  /* line 102, example.scss */
  20% {
    left: 40px;
    top: 310px;
  }

  /* line 107, example.scss */
  40% {
    left: 140px;
    top: 400px;
  }

  /* line 112, example.scss */
  60% {
    background: #ffc787;
  }

  /* line 116, example.scss */
  100% {
    background: #e89041;
    top: 500px;
  }
}

/* line 124, example.scss */
.boxtransition1,
.boxtransition2 {
  background: #f2df7e;
  left: 160px;
  -moz-transition: background 0.5s linear,top 0.5s ease-in;
  -o-transition: background 0.5s linear,top 0.5s ease-in;
  -webkit-transition: background 0.5s linear,top 0.5s ease-in;
  transition: background 0.5s linear,top 0.5s ease-in;
}
/* line 129, example.scss */
.boxtransition1.move,
.boxtransition2.move {
  background: #314a59;
  top: 500px;
}

/* line 135, example.scss */
.boxtransition2 {
  left: 300px;
}
